@tailwind base;
@tailwind components;
@tailwind utilities;

/* animations */
/* navbar */

/* animation to rotate the logo */
.spin-logo {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* animation to drop horizontal line on large screen */
.nav-line {
  animation: drop-line 1s ease-out;
}

@keyframes drop-line {
  0% {
    top: -100px;
  }

  100% {
    top: 0;
  }
}

/* animations to slide the navlinks from the right */
.nav-links__right {
  animation: links__right 1s ease-out;
}

@keyframes links__right {
  0% {
    right: -1200px;
  }

  100% {
    right: 0;
  }
}

/* animations for explore element on homepage */

.exp {
  animation: opay 1s ease-out;
}

@keyframes opay {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

/* page title animation */
.id-fade {
  animation: fade-in 2s ease;
}

@keyframes fade-in {
  0% {
    left: -1200px;
    opacity: 0;
  }

  10% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.4;
  }

  30% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

.text-fade {
  animation: fade_text 3s ease-out;
}

@keyframes fade_text {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.4;
  }

  30% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* planet image animation */
.planet-img {
  animation: p-img_fade 1.5s ease-in;
}

@keyframes p-img_fade {
  0% {
    left: -700px;
    transform: rotate(180deg);
  }

  10% {
    transform: rotate(180deg);
  }

  20% {
    transform: rotate(90deg);
  }

  40% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(-90deg);
  }

  80% {
    transform: rotate(-180deg);
  }

  90% {
    transform: rotate(-270deg);
  }

  100% {
    left: 0;
    transform: rotate(0deg);
  }
}

/* planet name --> destination page */

.name {
  animation: name-slide 2s ease-in-out;
}

@keyframes name-slide {
  0% {
    opacity: 0;
    left: -700px;
  }

  10% {
    opacity: 0.2;
  }

  20% {
    opacity: 0.4;
  }

  30% {
    opacity: 0.6;
  }

  40% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}
